@mixin _flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin _absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

@mixin _button($type) {
    padding: $padding-xs;

    text-align: center;

    border-radius: $border-rectangle;
    font-size: $font-size-text;
    text-decoration: none;
    font-weight: bold;

    
    transition: $transition-basic;
    cursor: pointer;

    @if $type == 1 {

        background-color: $color-orange-main;
        border: 1px solid $color-orange-main;
        color: $color-black-main;

    } @else if $type == 2 {

        background: none;
        border: 1px solid $color-black-main;
        color: $color-black-main;
    }

    &:hover {
        opacity: 0.75;
    }
}

@mixin _input-connexion() {
    width: 100%;

    padding: $padding-xs;
    margin: $margin-sm 0;

    border-radius: $border-rectangle;
    border: 1px solid $color-grey-light;

    outline: none;

    &.warning {
        border: 1px solid $color-red-main;
    }
}