// Colors
$background-main: #FFFFF1;

$color-orange-main: #FFD4A1;
$color-red-main: #ff6e6e;
$color-grey-main: #727272;
$color-black-main: rgb(21, 21, 21);

$color-red-light: #FFA1A1;
$color-grey-light: #C6C6C6;

// Screen
$screen-width-xl: 1280px;
$screen-width-lg: 992px;
$screen-width-md: 768px;
$screen-width-sm: 425px;
$screen-width-xs: 375px;

// Padding
$padding-xl: 75px;
$padding-lg: 50px;
$padding-md: 25px;
$padding-sm: 15px;
$padding-xs: 10px;
$padding-xxs: 5px;

// Margin
$margin-xl: 75px;
$margin-lg: 50px;
$margin-md: 25px;
$margin-sm: 15px;
$margin-xs: 10px;

// Border
$border-rectangle: 5px;

// Text
$font-family-title: 'Lato', sans-serif;
$font-family-text: 'Roboto', sans-serif;

$font-size-title-xl: 5rem;
$font-size-title-lg: 3rem;
$font-size-title-md: 2.4rem;
$font-size-text: 1.6rem;

// Transition
$transition-basic: 0.2s ease-in;