// Colors
$background-main: #F4F4F4;

$color-blue-main: #A1B6FF;
$color-red-main: #FFA1A1;

// Screen
$screen-width-xl: 1280px;
$screen-width-lg: 992px;
$screen-width-md: 768px;
$screen-width-sm: 425px;
$screen-width-xs: 375px;

// Margin/Padding
$padding-screen-xl: 25px;

// Text
$font-family-roboto: 'Roboto', sans-serif;
$font-size-title: 2.4rem;
$font-size-text: 1.6rem